**STEP 1 :TRANSFORM**
We need to transform the extracted data from VGchartz website into a cleaned data in this step. Following steps need to be in the transform phase
* Delete games without sales data

* Remove unwanted columns and rename the columns

* Add Release year column

* Convert Release date values to date format and Sales values to float format

* Write the transformed video games data into CSV file to be used for the Load process

The link for the extracted data is here - https://drive.google.com/file/d/1CWvgV4pLaMpJR2MmUnNdgbR7Gl4Sj5l5/view?usp=sharing

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd   #import pandas and datetime package
from datetime import datetime

**Read Video Games Data from CSV**

In [ ]:
# Read games data from CSV file into Dataframe
games_df1 = pd.read_csv('/content/drive/MyDrive/Extracted_video_games_data.csv')

In [ ]:
games_df1.head() #first 5 rows

,Pos,Game,Game.1,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,1,NaN,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,04th Mar 20,Action
1,2,NaN,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
2,3,NaN,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,03rd Feb 20,Action
3,4,NaN,Dynasty Warriors,Series,Unknown,Omega Force,NaN,NaN,NaN,21.00m,NaN,NaN,NaN,NaN,NaN,NaN,24th Mar 20,Action
4,5,NaN,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,17th Sep 13,NaN,Action

**Delete games without sales data**

In [ ]:
games_df1.info() #info of all columns in dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58897 entries, 0 to 58896
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos             58897 non-null  int64
 1   Game            0 non-null      float64
 2   Game.1          58897 non-null  object
 3   Console         58897 non-null  object
 4   Publisher       58897 non-null  object
 5   Developer       58880 non-null  object
 6   VGChartz Score  1046 non-null   float64
 7   Critic Score    6549 non-null   float64
 8   User Score      395 non-null    float64
 9   Total Shipped   2909 non-null   object
 10  Total Sales     19193 non-null  object
 11  NA Sales        12831 non-null  object
 12  PAL Sales       13035 non-null  object
 13  Japan Sales     6890 non-null   object
 14  Other Sales     15360 non-null  object
 15  Release Date    55217 non-null  object
 16  Last Update     12737 non-null  object
 17  Genre           58897 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 8.1+ MB

In [ ]:
games_df_withsales= games_df1.dropna( how='all',subset=['Total Sales','Total Shipped']) #drop rows where both total sales and total shipped both columns are null
games_df_withsales

,Pos,Game,Game.1,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,1,NaN,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,04th Mar 20,Action
1,2,NaN,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
2,3,NaN,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,03rd Feb 20,Action
3,4,NaN,Dynasty Warriors,Series,Unknown,Omega Force,NaN,NaN,NaN,21.00m,NaN,NaN,NaN,NaN,NaN,NaN,24th Mar 20,Action
4,5,NaN,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,17th Sep 13,NaN,Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58688,232,NaN,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,07th Nov 18,Visual Novel
58689,233,NaN,Memories Off: Innocent File,NS,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,07th Nov 18,Visual Novel
58690,234,NaN,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,29th Mar 18,07th Apr 18,Visual Novel
58691,235,NaN,Disorder 6,X360,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,22nd Aug 13,02nd May 19,Visual Novel
58692,236,NaN,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,NaN,NaN,NaN,NaN,0.00m,NaN,0.00m,NaN,0.00m,23rd Oct 12,25th Apr 19,Visual Novel

**Delete unwanted columns**

Select only these columns :

'Pos', 'Game.1', 'Console', 'Publisher', 'Developer', 'VGChartz Score',
       'Critic Score', 'User Score', 'Total Shipped', 'Total Sales',
       'NA Sales', 'PAL Sales', 'Japan Sales', 'Other Sales', 'Release Date',
       'Genre'

In [ ]:
games_df_withsales.drop(['Game','Last Update'],inplace=True,axis=1)#deleting unwanted column

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
games_df_withsales

,Pos,Game.1,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Genre
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,Action
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,Action
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,Action
3,4,Dynasty Warriors,Series,Unknown,Omega Force,NaN,NaN,NaN,21.00m,NaN,NaN,NaN,NaN,NaN,NaN,Action
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,17th Sep 13,Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58688,232,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,Visual Novel
58689,233,Memories Off: Innocent File,NS,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,Visual Novel
58690,234,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,29th Mar 18,Visual Novel
58691,235,Disorder 6,X360,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,22nd Aug 13,Visual Novel
58692,236,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,NaN,NaN,NaN,NaN,0.00m,NaN,0.00m,NaN,0.00m,23rd Oct 12,Visual Novel

**Rename columns**

In [ ]:
games_df_withsales.rename({'Game.1': 'game_name','Console':'console','Publisher':'publisher','Developer':'developer',\
                           'VGChartz Score':'vgchartz_score','Critic Score':'critic_score','User Score':'user_score',\
                           'Total Shipped':'total_shipped_in_millions','Total Sales':'global_sales_in_millions',\
                           'NA Sales':'na_sales_in_millions','PAL Sales':'pal_sales_in_millions','Japan Sales':'japan_sales_in_millions',\
                          'Other Sales':'other_sales_in_millions','Release Date':'release_date','Genre':'genre','Pos':'rank' }, axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

**Add Release Year Column**

In [ ]:
games_df_cleaned=games_df_withsales.loc[games_df_withsales['release_date'].notnull()].copy()#copy rows where release date values are not null

In [ ]:

games_df_cleaned['release_date']=pd.to_datetime(games_df_withsales['release_date'])#convert release date column to datetime

In [ ]:
games_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21221 entries, 0 to 58692
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rank                       21221 non-null  int64
 1   game_name                  21221 non-null  object
 2   console                    21221 non-null  object
 3   publisher                  21221 non-null  object
 4   developer                  21218 non-null  object
 5   vgchartz_score             547 non-null    float64
 6   critic_score               4873 non-null   float64
 7   user_score                 275 non-null    float64
 8   total_shipped_in_millions  2111 non-null   object
 9   global_sales_in_millions   19110 non-null  object
 10  na_sales_in_millions       12816 non-null  object
 11  pal_sales_in_millions      12995 non-null  object
 12  japan_sales_in_millions    6851 non-null   object
 13  other_sales_in_millions    15311 non-null  object
 14  release_date               21221 non-null  datetime64[ns]
 15  genre                      21221 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(11)
memory usage: 2.8+ MB

**Convert Release date values to Date format (yyyy-mm-dd)**

In [ ]:
games_df_cleaned['release_date']=games_df_cleaned['release_date'].dt.strftime('%Y-%m-%d') #convert release date column to string format(YYYY-MM-DD)

In [ ]:
games_df_cleaned['release_date']# display value of release date column

0        2005-03-22
1        1997-06-30
2        2001-10-16
4        2013-09-17
5        1981-10-23
            ...
58688    2018-10-25
58689    2018-10-25
58690    2018-03-29
58691    2013-08-22
58692    2012-10-23
Name: release_date, Length: 21221, dtype: object

In [ ]:
games_df_cleaned['release_date']=games_df_cleaned['release_date'].astype('datetime64[ns]') #convert released date column to datetime

In [ ]:
games_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21221 entries, 0 to 58692
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rank                       21221 non-null  int64
 1   game_name                  21221 non-null  object
 2   console                    21221 non-null  object
 3   publisher                  21221 non-null  object
 4   developer                  21218 non-null  object
 5   vgchartz_score             547 non-null    float64
 6   critic_score               4873 non-null   float64
 7   user_score                 275 non-null    float64
 8   total_shipped_in_millions  2111 non-null   object
 9   global_sales_in_millions   19110 non-null  object
 10  na_sales_in_millions       12816 non-null  object
 11  pal_sales_in_millions      12995 non-null  object
 12  japan_sales_in_millions    6851 non-null   object
 13  other_sales_in_millions    15311 non-null  object
 14  release_date               21221 non-null  datetime64[ns]
 15  genre                      21221 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(11)
memory usage: 2.8+ MB

In [ ]:
games_df_cleaned['release_year']=games_df_cleaned['release_date'].dt.year #Extract released year from release date column

In [ ]:
games_df_cleaned

,rank,game_name,console,publisher,developer,vgchartz_score,critic_score,user_score,total_shipped_in_millions,global_sales_in_millions,na_sales_in_millions,pal_sales_in_millions,japan_sales_in_millions,other_sales_in_millions,release_date,genre,release_year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,2005-03-22,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,1997-06-30,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,2001-10-16,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,2013-09-17,Action,2013
5,6,Frogger,Series,Konami,Konami,NaN,NaN,NaN,20.00m,NaN,NaN,NaN,NaN,NaN,1981-10-23,Action,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58688,232,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,2018-10-25,Visual Novel,2018
58689,233,Memories Off: Innocent File,NS,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,2018-10-25,Visual Novel,2018
58690,234,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,2018-03-29,Visual Novel,2018
58691,235,Disorder 6,X360,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,2013-08-22,Visual Novel,2013
58692,236,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,NaN,NaN,NaN,NaN,0.00m,NaN,0.00m,NaN,0.00m,2012-10-23,Visual Novel,2012

In [ ]:
games_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21221 entries, 0 to 58692
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rank                       21221 non-null  int64
 1   game_name                  21221 non-null  object
 2   console                    21221 non-null  object
 3   publisher                  21221 non-null  object
 4   developer                  21218 non-null  object
 5   vgchartz_score             547 non-null    float64
 6   critic_score               4873 non-null   float64
 7   user_score                 275 non-null    float64
 8   total_shipped_in_millions  2111 non-null   object
 9   global_sales_in_millions   19110 non-null  object
 10  na_sales_in_millions       12816 non-null  object
 11  pal_sales_in_millions      12995 non-null  object
 12  japan_sales_in_millions    6851 non-null   object
 13  other_sales_in_millions    15311 non-null  object
 14  release_date               21221 non-null  datetime64[ns]
 15  genre                      21221 non-null  object
 16  release_year               21221 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(11)
memory usage: 2.9+ MB

In [ ]:
games_df_cleaned.isnull().sum()

rank                             0
game_name                        0
console                          0
publisher                        0
developer                        3
vgchartz_score               20674
critic_score                 16348
user_score                   20946
total_shipped_in_millions    19110
global_sales_in_millions      2111
na_sales_in_millions          8405
pal_sales_in_millions         8226
japan_sales_in_millions      14370
other_sales_in_millions       5910
release_date                     0
genre                            0
release_year                     0
dtype: int64

In [ ]:
def remove_m(row):#function to replace m from perticular column
  return row.replace("m","")

In [ ]:
#lambda function used along with remove_m function to remove m from respective columns 
games_df_cleaned['global_sales_in_millions']=games_df_cleaned.apply(lambda row:remove_m(str(row['global_sales_in_millions'])),axis=1)
games_df_cleaned['na_sales_in_millions']=games_df_cleaned.apply(lambda row:remove_m(str(row['na_sales_in_millions'])),axis=1)
games_df_cleaned['pal_sales_in_millions']=games_df_cleaned.apply(lambda row:remove_m(str(row['pal_sales_in_millions'])),axis=1)
games_df_cleaned['japan_sales_in_millions']=games_df_cleaned.apply(lambda row:remove_m(str(row['japan_sales_in_millions'])),axis=1) 
games_df_cleaned['total_shipped_in_millions']=games_df_cleaned.apply(lambda row:remove_m(str(row['total_shipped_in_millions'])),axis=1)
games_df_cleaned['other_sales_in_millions']=games_df_cleaned.apply(lambda row:remove_m(str(row['other_sales_in_millions'])),axis=1)

**Convert Sales values to Float format**

In [ ]:

games_df_cleaned['global_sales_in_millions']=games_df_cleaned['global_sales_in_millions'].astype('float')
games_df_cleaned['na_sales_in_millions']=games_df_cleaned['na_sales_in_millions'].astype('float')  
games_df_cleaned['pal_sales_in_millions']=games_df_cleaned['pal_sales_in_millions'].astype('float') 
games_df_cleaned['japan_sales_in_millions']=games_df_cleaned['japan_sales_in_millions'].astype('float')     
games_df_cleaned['total_shipped_in_millions']=games_df_cleaned['total_shipped_in_millions'].astype('float') 
games_df_cleaned['other_sales_in_millions']=games_df_cleaned['other_sales_in_millions'].astype('float')

In [ ]:
games_df_cleaned

,rank,game_name,console,publisher,developer,vgchartz_score,critic_score,user_score,total_shipped_in_millions,global_sales_in_millions,na_sales_in_millions,pal_sales_in_millions,japan_sales_in_millions,other_sales_in_millions,release_date,genre,release_year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00,NaN,NaN,NaN,NaN,NaN,2005-03-22,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26,NaN,NaN,NaN,NaN,NaN,1997-06-30,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00,NaN,NaN,NaN,NaN,NaN,2001-10-16,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32,6.37,9.85,0.99,3.12,2013-09-17,Action,2013
5,6,Frogger,Series,Konami,Konami,NaN,NaN,NaN,20.00,NaN,NaN,NaN,NaN,NaN,1981-10-23,Action,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58688,232,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2018-10-25,Visual Novel,2018
58689,233,Memories Off: Innocent File,NS,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2018-10-25,Visual Novel,2018
58690,234,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2018-03-29,Visual Novel,2018
58691,235,Disorder 6,X360,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2013-08-22,Visual Novel,2013
58692,236,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,0.00,2012-10-23,Visual Novel,2012

**Load transformed data to csv file**

In [ ]:
games_df_cleaned.to_csv('/content/drive/MyDrive/SQL PTOJECT/transformed_file.csv',index=False)